<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sourceplan.warehouse.mapper.OtherOutMapper">

    <resultMap type="OtherOut" id="OtherOutResult">
        <result property="id"    column="id"    />
        <result property="number"    column="number"    />
        <result property="workshopId"    column="workshop_id"    />
        <result property="workshopName"    column="workshop_name"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseNumber"    column="warehouse_number"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="regionId"    column="region_id"    />
        <result property="regionNumber"    column="region_number"    />
        <result property="regionName"    column="region_name"    />
        <result property="areaId"    column="area_id"    />
        <result property="areaNumber"    column="area_number"    />
        <result property="areaName"    column="area_name"    />
        <result property="keeperId"    column="keeper_id"    />
        <result property="keeperName"    column="keeper_name"    />
        <result property="outTime"    column="out_time"    />
        <result property="checker"    column="checker"    />
        <result property="checkDate"    column="check_date"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="snArray"    column="sn_array"    />
    </resultMap>

    <resultMap id="OtherOutOtherOutEntryResult" type="OtherOut" extends="OtherOutResult">
        <collection property="otherOutEntryList" notNullColumn="sub_id" javaType="java.util.List" resultMap="OtherOutEntryResult" />
    </resultMap>

    <resultMap type="OtherOutEntry" id="OtherOutEntryResult">
        <result property="id"    column="sub_id"    />
        <result property="sort"    column="sub_sort"    />
        <result property="mainId"    column="sub_main_id"    />
        <result property="materialId"    column="sub_material_id"    />
        <result property="materialNumber"    column="sub_material_number"    />
        <result property="materialName"    column="sub_material_name"    />
        <result property="specification"    column="sub_specification"    />
        <result property="materialUnitId"    column="sub_material_unit_id"    />
        <result property="materialUnitName"    column="sub_material_unit_name"    />
        <result property="quantity"    column="sub_quantity"    />
        <result property="batchNumber"    column="sub_batch_number"    />
        <result property="warehouseId"    column="sub_warehouse_id"    />
        <result property="warehouseNumber"    column="sub_warehouse_number"    />
        <result property="warehouseName"    column="sub_warehouse_name"    />
        <result property="regionId"    column="sub_region_id"    />
        <result property="regionNumber"    column="sub_region_number"    />
        <result property="regionName"    column="sub_region_name"    />
        <result property="areaId"    column="sub_area_id"    />
        <result property="areaNumber"    column="sub_area_number"    />
        <result property="areaName"    column="sub_area_name"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="remark"    column="sub_remark"    />
        <result property="price"    column="sub_price"    />
        <result property="amount"    column="sub_amount"    />
        <result property="extendField"    column="sub_extend_field"    />
        <association property="otherOut"
                     javaType="cn.sourceplan.warehouse.domain.OtherOut" resultMap="OtherOutResult">
        </association>
    </resultMap>

    <sql id="selectOtherOutVo">
        select a.id, a.number, a.workshop_id, a.workshop_name, a.warehouse_id, a.warehouse_number, a.warehouse_name, a.region_id,
            a.region_number, a.region_name, a.area_id, a.area_number, a.area_name, a.keeper_id, a.keeper_name, a.out_time, a.checker, a.check_date, a.status,
            a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.sn_array,
            b.id as sub_id, b.sort as sub_sort, b.main_id as sub_main_id, b.material_id as sub_material_id, b.material_number as sub_material_number,
            b.material_name as sub_material_name, b.specification as sub_specification, b.material_unit_id as sub_material_unit_id,
            b.material_unit_name as sub_material_unit_name, b.quantity as sub_quantity, b.batch_number as sub_batch_number, b.warehouse_id as sub_warehouse_id,
            b.warehouse_number as sub_warehouse_number, b.warehouse_name as sub_warehouse_name, b.region_id as sub_region_id, b.region_number as sub_region_number,
            b.region_name as sub_region_name, b.area_id as sub_area_id, b.area_number as sub_area_number, b.area_name as sub_area_name, b.create_by as sub_create_by,
            b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.remark as sub_remark, b.price as sub_price,
            b.amount as sub_amount, b.extend_field as sub_extend_field
    </sql>

    <select id="selectOtherOutList" parameterType="OtherOut" resultMap="OtherOutEntryResult">
        <include refid="selectOtherOutVo"/>
        from wm_other_out_entry b
        left join wm_other_out a on  a.id =b.main_id
        <where>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="workshopId != null "> and workshop_id = #{workshopId}</if>
            <if test="workshopName != null  and workshopName != ''"> and workshop_name like concat('%', #{workshopName}, '%')</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="warehouseNumber != null  and warehouseNumber != ''"> and warehouse_number = #{warehouseNumber}</if>
            <if test="warehouseName != null  and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="regionNumber != null  and regionNumber != ''"> and region_number = #{regionNumber}</if>
            <if test="regionName != null  and regionName != ''"> and region_name like concat('%', #{regionName}, '%')</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="areaNumber != null  and areaNumber != ''"> and area_number = #{areaNumber}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="keeperId != null "> and keeper_id = #{keeperId}</if>
            <if test="keeperName != null  and keeperName != ''"> and keeper_name like concat('%', #{keeperName}, '%')</if>
            <if test="outTime != null "> and out_time = #{outTime}</if>
            <if test="checker != null  and checker != ''"> and checker = #{checker}</if>
            <if test="checkDate != null "> and check_date = #{checkDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="snArray != null  and snArray != ''"> and sn_array = #{snArray}</if>
        </where>
        order by a.number desc
    </select>

    <select id="selectOtherOutById" parameterType="Long" resultMap="OtherOutOtherOutEntryResult">
        <include refid="selectOtherOutVo"/>
        from wm_other_out a
        left join wm_other_out_entry b on b.main_id = a.id
        where a.id = #{id}
    </select>



</mapper>
