<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sourceplan.warehouse.mapper.TakeInventoryMapper">

    <resultMap type="TakeInventory" id="TakeInventoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="initializeFlag"    column="initialize_flag"    />
        <result property="correctFlag"    column="correct_flag"    />
        <result property="number"    column="number"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseNumber"    column="warehouse_number"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="regionId"    column="region_id"    />
        <result property="regionNumber"    column="region_number"    />
        <result property="regionName"    column="region_name"    />
        <result property="areaId"    column="area_id"    />
        <result property="areaNumber"    column="area_number"    />
        <result property="areaName"    column="area_name"    />
        <result property="keeperId"    column="keeper_id"    />
        <result property="keeperName"    column="keeper_name"    />
        <result property="takeTime"    column="take_time"    />
        <result property="checker"    column="checker"    />
        <result property="checkDate"    column="check_date"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="snArray"    column="sn_array"    />
    </resultMap>

    <resultMap id="TakeInventoryTakeInventoryEntryResult" type="TakeInventory" extends="TakeInventoryResult">
        <collection property="takeInventoryEntryList" notNullColumn="sub_id" javaType="java.util.List" resultMap="TakeInventoryEntryResult" />
    </resultMap>

    <resultMap type="TakeInventoryEntry" id="TakeInventoryEntryResult">
        <result property="id"    column="sub_id"    />
        <result property="sort"    column="sub_sort"    />
        <result property="mainId"    column="sub_main_id"    />
        <result property="materialId"    column="sub_material_id"    />
        <result property="materialNumber"    column="sub_material_number"    />
        <result property="materialName"    column="sub_material_name"    />
        <result property="specification"    column="sub_specification"    />
        <result property="materialUnitId"    column="sub_material_unit_id"    />
        <result property="materialUnitName"    column="sub_material_unit_name"    />
        <result property="inventoryQuantity"    column="sub_inventory_quantity"    />
        <result property="takeQuantity"    column="sub_take_quantity"    />
        <result property="differenceQuantity"    column="sub_difference_quantity"    />
        <result property="status"    column="sub_status"    />
        <result property="warehouseId"    column="sub_warehouse_id"    />
        <result property="warehouseNumber"    column="sub_warehouse_number"    />
        <result property="warehouseName"    column="sub_warehouse_name"    />
        <result property="regionId"    column="sub_region_id"    />
        <result property="regionNumber"    column="sub_region_number"    />
        <result property="regionName"    column="sub_region_name"    />
        <result property="areaId"    column="sub_area_id"    />
        <result property="areaNumber"    column="sub_area_number"    />
        <result property="areaName"    column="sub_area_name"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="remark"    column="sub_remark"    />
        <result property="extendField"    column="sub_extend_field"    />
    </resultMap>

    <select id="selectTakeInventoryById" parameterType="Long" resultMap="TakeInventoryTakeInventoryEntryResult">
        select a.id, a.name, a.initialize_flag, a.correct_flag, a.number, a.warehouse_id, a.warehouse_number, a.warehouse_name, a.region_id, a.region_number, a.region_name, a.area_id, a.area_number, a.area_name, a.keeper_id, a.keeper_name, a.take_time, a.checker, a.check_date, a.status, a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.sn_array,
 b.id as sub_id, b.sort as sub_sort, b.main_id as sub_main_id, b.material_id as sub_material_id,
               b.material_number as sub_material_number, b.material_name as sub_material_name,
               b.specification as sub_specification, b.material_unit_id as sub_material_unit_id,
               b.material_unit_name as sub_material_unit_name,
               b.warehouse_id as sub_warehouse_id, b.warehouse_number as sub_warehouse_number,
               b.warehouse_name as sub_warehouse_name, b.region_id as sub_region_id,
               b.region_number as sub_region_number, b.region_name as sub_region_name,
               b.area_id as sub_area_id, b.area_number as sub_area_number, b.area_name as sub_area_name,
               b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by,
               b.update_time as sub_update_time, b.remark as sub_remark, b.extend_field as sub_extend_field,
               b.inventory_quantity as sub_inventory_quantity,b.take_quantity as sub_take_quantity ,
               b.difference_quantity as sub_difference_quantity , b.status as sub_status
        from wm_take_inventory a
        left join wm_take_inventory_entry b on b.main_id = a.id
        where a.id = #{id}
    </select>

</mapper>
